@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dancing-script {
  font-family: "Dancing Script";
}

.lato-light {
  font-family: "Lato";
  font-weight: 200;
}

.lato-regular {
  font-family: "Lato";
  font-weight: 300;
}

.lato-bold {
  font-family: "Lato";
  font-weight: 700;
}

body {
  font-family: "Lato";
  font-weight: 300;
  /* background-color: rgb(248, 242, 234); */
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.front-title {
  backface-visibility: hidden;
}
